.main {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  color: black;
  padding: 15px;
  font-family: var(--font-mono);
}
.main_inner {
  width: 100%;
  padding: 30px;
  text-align: center;
}
.main * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
}

.content {
  margin: 30px auto;
  width: 100%;
}


.section {
  background-color: rgba(black, 0.05);
  padding: 30px;
  border-radius: 8px;

  & + .section {
    margin-top: 60px;
  }
}